*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --primary:rgb(240,240,240);
    --sec-1:rgb(67,222,206);
    --sec-2:rgb(26,198,181);
}
body{
    background-color:white;
    font-family:Montserrat;
    
}

#wrapper{
    width:80%;
    background-color:var(--primary);
    margin:0 auto;
    padding: 0px 0px 20px ;
}

header{
    padding:15px 0;
    text-align:center;
}
#list-name{
    font-size:2em;
}

.container{
    width:90%;
    margin:15px auto;
    position:relative;
    box-shadow:1px 1px 3px rgba(0,0,0,0.2);
}
.container:nth-child(odd){
    background-color:var(--sec-1);
}
.container:nth-child(even){
    background-color:var(--sec-2);
}

main{
    counter-reset: item-count 0;
}

.count{
    display:inline-block;
    width:80px;
    text-align:center;  
    font-size:1.5em;
}

/*css counter*/
.count::after{
    counter-increment:item-count;
    content:counter(item-count) ". ";
}

.del{
    position:absolute;
    right:0;
    background:white;
    padding:8px 30px;
    color:red;
    font-size:1.2em;
}
.item-name{
    display:inline-block;
    font-size:1.5em;
    padding:5px 10px;
    color:white;
}

.dialog{
    max-width:350px;
    border:1px solid black;
    padding:15px 35px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:1000;
    background-color:#d3d3d3;
}

.title{
    margin:3px 0px 0px;
    font-size:1.2em;
}
input{
    width:100%;
    padding:7px 10px;
    font-size:1.2em;
    margin:5px 0px;
    outline:none;
    border-radius:8px;
    border:none;
}

.btn{
    padding:10px 15px;
    font-size:1em;
    display:block;
    margin:8px auto 12px;
    background:mediumSeaGreen;
    border:none;
    color:white;
    border-radius:8px;
}
.btn:hover{
    background:rgb(15, 153, 77);
    transition:0.3s;
}