*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --primary:rgb(240,240,240);
    --sec-1:rgb(67,222,206);
    --sec-2:rgb(26,198,181);
}
body{
    background-color:white;
    font-family:Montserrat;
    
}

#wrapper{
    width:80%;
    background-color:var(--primary);
    margin:0 auto;
    padding: 0px 0px 20px ;
}

header{
    padding:15px 0;
    text-align:center;
}

#list-name{
    font-size:2em;
}

.container, .container-header{
    width:90%;
    margin:15px auto;
    position:relative;
    box-shadow:1px 1px 3px rgba(0,0,0,0.2);
    font-size:1.5em;
    overflow:hidden;
    padding:5px 0;
}

.container-header{
    background-color:black;
}

.container:nth-child(odd){
    background-color:var(--sec-1);
}
.container:nth-child(even){
    background-color:var(--sec-2);
}

.container:nth-child(2){
    display:none;
    background:white;
}

main{
    counter-reset: item-count 0;
}

.con-count,.count{
    display:inline-block;
    width:10%;
    text-align:center;  
    padding:0 10px;
    
    border-right:2px solid white;
}

/*css counter*/
.con-count::after{
    counter-increment:item-count;
    content:counter(item-count) ". ";
}

.del-item,.con-del-item{
    position:absolute;
    right:0;
    top:0;
    background:white;
    width:10%;
    text-align:center;
    padding:8px 0px;
    color:red;
}
.con-item-name,.item-name{
    width:60%;
    display:inline-block;
    color:white;
    padding:0px 15px;
    
}

.con-item-qty,.item-qty{
    width:20%;
    
    color:white;
    border-left:2px solid white;
    padding:0px 15px;
}

.dialog{
    max-width:450px;
    border:1px solid black;
    padding:15px 35px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:1000;
    background-color:#d3d3d3;
}

.title{
    margin:3px 0px 0px;
    font-size:1.2em;
}
label{
    font-size:1.1em;
}
input{
    width:100%;
    padding:7px 10px;
    font-size:1.2em;
    margin:3px 0 15px;
    outline:none;
    border-radius:8px;
    border:none;
}

.btn{
    padding:10px 15px;
    font-size:1.2em;
    display:inline-block;
    margin:8px auto 12px;
    border:2px solid transparent;
    color:white;
    border-radius:8px;
    outline:none;
}
.btn:hover{
    border:1px solid mediumSeaGreen;
    transition:0.3s;
}

.primary-btn{
    background:dodgerBlue;
}

.secondary-btn{
    background:white;
    border:1px solid dodgerBlue;
    color:black;
}

/*hide object for temporary purpose*/
.dialog{
    display:none;
    display:relative;
    user-select:none;
}

footer{
    
    padding:20px 30px;
}

#add-item{
    background:dodgerBlue;
    padding:15px;
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
}

.dialog-title{
    font-size:1.3em;
    margin:2px 0 10px;
    text-transform:uppercase;
}

.clicked{
    box-shadow:0px 8px 2px rgba(0,0,0,0.3);
}
.clicked:active{
    transform:translateY(6px);
    box-shadow:0px 3px 2px rgba(0,0,0,0.3);
    transition:0.2s;
}

.p-hover:hover{
    background:rgb(240, 240, 240);
    border:2px solid dodgerBlue;
    transition:0.2s;
    color:black;
}

input[name="list-name"]{
    margin-bottom:5px;
}


.center-btn{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.close-dialog{
    position:absolute;
    top:5px;
    right:10px;
    font-size:1.5em;
}

/*Responsive*/
@media (max-width:576px){
    body{
        background-color:crimson;
    }

    #wrapper,.container, .container-header{
        width:100%;
        font-size:1.1em;
    }

    .del-item{
        display:none;
    }

    .del-item,.con-del-item{
        display:none;
    }

    .con-count,.count{
        width:20%;
        float:left;
        height: 58px;
        line-height: 58px;
    }

    .con-item-qty,.item-qty{
        display:block;
        width:80%;
        float:right;
        border-left:none;
        border-top:1px solid white;
        

    }

    .item-name,.con-item-name, .con-item-qty,.item-qty{
        padding-top:2px;
        padding-bottom:3px;
    }

}


@media (min-width:576px){
    #wrapper,.container, .container-header{
        width:100%;
        font-size:1.1em;
    }
}

@media (min-width:768px){
    #wrapper,.container, .container-header{
        width:90%;
        font-size:1.1em;
    }
}

@media (min-width:992px){
    #wrapper,.container, .container-header{
        width:80%;
        font-size:1.1em;
    }
}

@media (min-width:1200px){
    #wrapper,.container, .container-header{
        max-width:1092px;
        font-size:1.1em;
    }
}